<main class="main-content home-page">
    <div class="home-page-static">
        <img src="/images/profile_pic.jpg" alt="Anil Bhattarai Profile Picture" class="profile-picture">
        <div class="item">
            <h3 class="section-title">About Me</h3>
            <p>Hello! My name is <strong>Anil Bhattarai</strong>. This site chronicles my resume and blogs as a computer
                programmer. I am a
                full-stack developper based currently in Toronto. I have been working, mostly for my own projects, as
                web developper for the last three years. I am comfortably competent in accessibility-enhanced front-end,
                secure and efficient backend, and efficient server management, especially with NGINX in Linux virtual
                machines.</p>
            <p>I am a perennial learner. This shows in my nearly permanent quest to learn many things, either through
                formal mediums
                or through informal, self-initiated ways.</p>

        </div>
        <div class="item">
            <h3 class="section-title">Accidental Programmer</h3>
            <p>I am an accidental programmer. I started to learn programming in the moments of my life when I was going
                through serious stumbling blocks in what I was doing.</p>
        </div>
    </div>
    <% if (blogs){%>
    <div class="blog-container">
        <h3 class="section-title">Latest Blogs</h3>
        <% blogs.forEach((blog)=>{%>
        <div class="blog">
            <p class="posted-date"><%= new Date(blog.posted_date).toDateString()%></p>
            <h3 class="blog-title"> <a href=<%=`/blogs/detail/${blog.blogid}`%>><%= blog.title %></a> </h3>
            <h4 class="blog-author"><%= blog.author%></h4>
            <p>Summary: <em><%=blog.summary%></em></p>
            <p>Keywords: <em><%=blog.keywords%></em></p>
            <div class="blog-content">
                <details>

                    <summary class="blog-summary"></summary>
                    <p><%-blog.content%></p>
                    <p class="posted-date"><%= new Date(blog.posted_date).toDateString()%></p>
                </details>
            </div>
        </div>
        <%})%>
    </div>
    <%}%>
</main>