<main class="main-content">
    <h2 class="page-title">All Projects</h2>
    <% if (projects){%>
    <div class="project-container">
        <% projects.forEach((project)=>{%>
        <div class="item">
            <h3 class="project-title"><%=project.title%></h3>
            <p class="project-description"><%-project.description%></p>
            <% if(locals.user && locals.user.is_admin===1){%>
            <details>
                <summary>Update Project</summary>
                <article class="update-form-container">

                    <h3 class="form-title">Update Project</h3>
                    <form action="/projects/update" class="update-project-form" method="POST">
                        <input type="hidden" name="projectid" value="<%=project.projectid%>">
                        <div class="form-item">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="<%=project.title%>" required>
                        </div>
                        <div class="form-item">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" cols="30" rows="10" required>
                                <%=project.description%>
                            </textarea>
                        </div>
                        <div class="form-item">
                            <button class="submit-form">Update Project</button>
                        </div>
                    </form>
                </article>
            </details>
            <details>
                <summary>Remove This Project?</summary>
                <form action="/projects/delete" method="POST">
                    <input type="hidden" name="projectid" value="<%=project.projectid%>">
                    <button>Delete? Are you Sure?</button>
                </form>
            </details>
            <%}%>
    </div>
        <%})%>
        </div>

        <%}%>
</main>